<li>
    <a href="{{ path("ibtikar_share_economy_cms_dashboard_pages_list") }}">
        <i class="icon-puzzle4"></i> {{'CMS Pages'|trans}}
    </a>
</li>
<li>
    <a href="{{ path("ibtikar_share_economy_cms_dashboard_contact_us_list") }}">
        <i class="icon-people"></i> {{'CMS Contacts'|trans}}
    </a>
</li>